.img__col {
  float: left;
  margin: 1% 0.5% 1% 0.5%;
  max-width: 24%;
  min-width: 250px;
}

.img__col-1 {
  float: left;
  margin: 1% 5% 1% 5%;
  max-width: 90%;
}

.img__col-2 {
  float: left;
  margin: 1% 0.5% 1% 0.5%;
  max-width: 49%;
}

.img__col-3 {
  float: left;
  margin: 1% 0.5% 1% 0.5%;
  max-width: 32%;
}

.img__col-4 {
  float: left;
  margin: 1% 0.5% 1% 0.5%;
  max-width: 24%;
}
