.img-card__div {
  margin-bottom: 3%;
}

.img-card__div-1 {
  min-width: 100%;
  width: 100% !important;
}

.img-card__div-2 {
  min-width: 50%;
  width: 100% !important;
}

.img-card__div-3 {
  min-width: 33%;
  width: 100% !important;
}

.img-card__div-4 {
  min-width: 25%;
  width: 100% !important;
}
